n8n-convert-chunk-pgvector-workflow.json
{
  "name": "Convert → Chunk → PGVector Complete Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "documentUrl",
              "value": "https://arxiv.org/pdf/2408.09869"
            }
          ]
        }
      },
      "id": "set-url",
      "name": "Set Document URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://asista-docling.up.railway.app/convert/url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.documentUrl }}\",\n  \"output_format\": \"markdown\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "convert-document",
      "name": "1. Convert Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "notes": "Convert document to markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://asista-docling.up.railway.app/chunk/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.content }}\",\n  \"max_tokens\": 512,\n  \"merge_peers\": true\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "chunk-content",
      "name": "2. Chunk Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "notes": "Chunk the converted content"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "id": "split-chunks",
      "name": "3. Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "notes": "Split chunks array into individual items"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "documents_pg",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content }}",
            "chunk": "={{ $json.chunk }}",
            "chunk_size": "={{ $json.chunk_size }}",
            "tokens": "={{ $json.tokens }}",
            "metadata": "={{ JSON.stringify($json.metadata) }}"
          }
        },
        "options": {}
      },
      "id": "insert-pgvector",
      "name": "4. Insert to PGVector",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        300
      ],
      "notes": "Insert chunks into Postgres PGVector",
      "credentials": {
        "postgres": {
          "id": "your-postgres-credential-id",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Document URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Document URL": {
      "main": [
        [
          {
            "node": "1. Convert Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Convert Document": {
      "main": [
        [
          {
            "node": "2. Chunk Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Chunk Content": {
      "main": [
        [
          {
            "node": "3. Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Split Into Items": {
      "main": [
        [
          {
            "node": "4. Insert to PGVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["docling", "rag", "pgvector"],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T00:00:00.000Z",
  "versionId": "1"
}
