n8n-docling-chunk-workflow.json
{
  "name": "Docling: URL → Chunk → PGVector",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://arxiv.org/pdf/2408.09869"
            },
            {
              "name": "file_id",
              "value": "1GUbsAxJB2CmEInyrp7_WJrZDjgisWaR9"
            }
          ],
          "number": [
            {
              "name": "max_tokens",
              "value": 512
            }
          ],
          "boolean": [
            {
              "name": "merge_peers",
              "value": true
            }
          ]
        }
      },
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300],
      "notes": "Set your document URL, file_id, and chunking parameters"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://asista-docling.up.railway.app/chunk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": {{ JSON.stringify($json.url) }},\n  \"max_tokens\": {{ $json.max_tokens }},\n  \"merge_peers\": {{ $json.merge_peers }},\n  \"file_id\": {{ JSON.stringify($json.file_id) }}\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "chunk-document",
      "name": "Chunk Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Converts and chunks document in one step using Docling HybridChunker"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "id": "split-chunks",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "Split chunks array into individual items for PGVector insertion"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "documents_pg",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.content }}",
            "chunk": "={{ $json.chunk }}",
            "chunk_size": "={{ $json.chunk_size }}",
            "tokens": "={{ $json.tokens }}",
            "file_id": "={{ $json.metadata.file_id }}"
          }
        },
        "options": {}
      },
      "id": "insert-pgvector",
      "name": "Insert to PGVector",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 300],
      "notes": "Insert chunks into Postgres PGVector table",
      "credentials": {
        "postgres": {
          "id": "your-postgres-credential-id",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Set Parameters", "type": "main", "index": 0}]]
    },
    "Set Parameters": {
      "main": [[{"node": "Chunk Document", "type": "main", "index": 0}]]
    },
    "Chunk Document": {
      "main": [[{"node": "Split Into Items", "type": "main", "index": 0}]]
    },
    "Split Into Items": {
      "main": [[{"node": "Insert to PGVector", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["docling", "chunking", "pgvector", "rag"],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T00:00:00.000Z",
  "versionId": "1"
}
