n8n-docling-workflow.json
{
  "name": "Docling Document Converter Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "documentUrl",
              "value": "https://arxiv.org/pdf/2408.09869"
            },
            {
              "name": "outputFormat",
              "value": "markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Document URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://asista-docling.up.railway.app/convert/url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.documentUrl }}\",\n  \"output_format\": \"{{ $json.outputFormat }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "docling-api-call",
      "name": "Convert Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "content",
              "name": "documentContent",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "object"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-output",
      "name": "Extract Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Document URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Document URL": {
      "main": [
        [
          {
            "node": "Convert Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Document": {
      "main": [
        [
          {
            "node": "Extract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T00:00:00.000Z",
  "versionId": "1"
}
